.header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
  padding: 12px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #ff5722;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

.nav-link:active {
  color: #ff5722;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
}

.login {
  border: 1px solid #ff5722;
  color: #ff5722;
}

.login:hover {
  background: #ff5722;
  color: white;
}

.register {
  background: #ff5722;
  color: white;
}

.register:hover {
  background: #e64a19;
}

.logout-button {
  background: #fff;
  color: #ff5722;
  border: 2px solid #ff5722;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.2s;
}
.logout-button:hover {
  background: #ff5722;
  color: #fff;
}

.profile-link {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}
.profile-link:active {
  color: #ff5722;
}

.burger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background: white;
  padding: 15px;
  border-top: 1px solid #ddd;
  gap: 12px;
}

.mobile-menu a,
.mobile-menu button.logout-mobile {
  padding: 12px 0;
  font-size: 18px;
  text-align: left;
  border: none;
  background: none;
  width: 100%;
  color: #333;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  background-color: #ff5722;
  color: #fff;
  text-decoration: none;
}


@media (max-width: 768px) {

  .logo {
    font-size: 28px;
  }

  .nav,
  .auth-buttons {
    display: none;
  }

  .burger {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
}
